﻿

<script type="text/javascript">
    var table;
    $(function () {

        //Load TimeZones into Options
        var Zones = moment.tz.names();
        Zones.forEach(function (value, i) {

            $("#TimeZone").append(new Option(value.replace('_', ' '), value));

        });

        //Initalize DataTables
        table=  $('#logTable').DataTable( {
        ajax: "http://localhost:54714/api/currenttime/log",
        columns: [
            {"data": "clientIp" },
            { "data": "utcTime" },
            { "data": "utcOffset" },
        ]
         });

        //Set listener for Data Tab
        $('#log-nav').on('show.bs.tab', function (e) {
            console.log("tab1");
            table.ajax.reload();
        });

    });
    function UserAction() {

        var timeZone = moment.tz.zone($("#TimeZone").val());
        var timeOffset = moment().tz($("#TimeZone").val()).format("ZZ");

        $.get("http://localhost:54714/api/currenttime", { Offset: timeOffset }, function (data) {

            var time = moment(data.utcTime)
            var zoneAbbr = timeZone.abbr(time)
            var dateString = moment(time).utcOffset(timeOffset).format("hh:mm:ss:A MM/DD/YYYY ") + zoneAbbr;
            $("#output").text("Server Time: " + dateString);
        });
     

    }
</script>

<div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12" >
    <div class="card">
        <div class="card-header">
           
            <ul class="nav nav-tabs card-header-tabs flex-xs-column justify-content-md-start">
                
                <li class="nav-item flex-fill flex-md-grow-0">
                    <a class="nav-link active" id="request-nav" data-toggle="tab" href="#request">Request</a>
                </li>
                <li class="nav-item flex-fill flex-md-grow-0"> 
                    <a class="nav-link" id="log-nav" data-toggle="tab" href="#log">Logs</a>
                </li>
            </ul>
                
</div>
        <div class="card-body">
            <div class="tab-content" id="mainContent">
                <div class="tab-pane fade show active" id="request" role="tabpanel" aria-labelledby="request-nav">
                    <h2>AWH Clockwork Project @ViewData["Version"] on @ViewData["Runtime"]!</h2>
                    <div class="form-control">
                        <label for="TimeZone">Select Time Zone:</label>

                        <select id="TimeZone"></select>

                    </div>
                    
                    <button type="submit" class="mt-2 btn btn-info" onclick="UserAction()">Get the time</button>

                    <p id="output"></p>
                </div>
                <div class="tab-pane fade" id="log" role="tabpanel" aria-labelledby="log-nav">
                    <h2>Request Logs</h2>

                    <table id="logTable" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>Client Ip</th>
                                <th>UTC Time</th>
                                <th>UTC Offset</th>

                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
           

        </div>
    </div>
 
</div>

