﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />

    <script src="~/Scripts/jquery/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/moment/min/moment.min.js"></script>
    <script src="~/Scripts/moment-timezone/moment-timezone.js"></script>
    <script src="~/Scripts/TimeZones.js"></script>

    <script src="~/Scripts/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/datatables/js/dataTables.bootstrap4.js"></script>


    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

    <script type="text/javascript">
        moment.tz.load(customTimeZones);
    </script>
</head>
<body>
	@RenderBody()
</body>
</html>
